@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Dodum&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFF3D7;
    color: #AD0614;
    font-family:'Gowun Dodum', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AD0614;
    color: #FFF3D7;
    height:15vh;
    width:100%;
    position: fixed;
    top:0;
    font-size:1.2em;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

/* --- USE THIS TO STYLE THE SCROLLED NAVBAR --- */

.scrolled {
    height:10vh;
    font-size: 1em;
    background-color: #ad0614b5;
    backdrop-filter: blur(6px);
}

/* --- */

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:20px;
}

.navbar-logo {
    width:150px;
    height: auto;
    display: none;
}

.click-collect {
    background-color:#FFF3D7;
    color:#AD0614;
    border-radius:4px;
    padding: 10px 20px;
}

.hero {
    width: 100%;
    margin-top:18vh;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF3D7;
    text-align: center;
}

.hero > .hero-logo {
    width:540px;
}

.intro {
    width:60%;
    margin : 0 auto;
    padding: 20px;
    text-align: center;
    font-family:'Anton', Tahoma, Verdana, sans-serif;
}

.usp {
    width:80%;
    border:2px solid #AD0614;
    margin : 0 auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px;
}

.usp-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align:center;
}

.usp-item > img {
    width: 64px;
    height: auto;
}

.usp-item > h3 {
    font-size: 1.2rem;
    font-family: 'Anton', Tahoma, Verdana, sans-serif;
}

.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

iframe {
    width: 500px;
    height: 500px;
    border: 1px solid transparent;
    border-radius:4px;
}

/* --------------- FOOTER ------------------- */

footer {
    background-color: #AD0614;
    color: #FFF3D7;
    padding: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:40px;
    gap:20px;
}

.footer-logo {
    width: 120px;
    height: auto;
}

.footer-social {
    width: 36px;
    height: auto;
}

/* --------------- MEDIA QUERIES ------------------- */

@media screen and (max-width: 768px) {
    body {
        width:100%;
        max-width:100%;
    }

    .hero {
        width:100%;
    }

    .hero > .hero-logo {
        width: 80%;
    }

    .intro {
        width:90%;
    }

    .usp {
        width:90%;
        flex-direction: column;
    }
}