@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Dodum&display=swap');

@font-face {
    font-family: "Chuck";
    src: url("/assets/waffle_soft.otf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFF3D7;
    color: #AD0614;
    font-family:'Gowun Dodum', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/*------ MOBILE MENU ------ */

/* Style du menu */
.menu-btn {
  position: fixed;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
  color: #AD0614;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Menu caché au départ */
.menu {
  position: fixed;
  top: 0;
  right: -100%; /* Hors de l'écran */
  width: 100%;
  height: 100vh;
  background: #FFF3D7;
  color:#AD0614;
  font-family: 'Chuck', Tahoma, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in;
}

/* Lorsqu'on ouvre le menu */
.menu.open {
  right: 0;
}

.menu a {
  text-decoration: none;
  font-size: 24px;
  margin: 15px 0;
  display: block;
  transition: color 0.3s;
}

/*------------ */

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

body.reservation {
    background-color: #AD0614;
    color: #FFF3D7;
    padding-top:40px;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    width:100%;
}

/* --- NAVBAR STYLES --- */

.nav {
    background-color:transparent;
    width: 100%;
    height:10vh;
    display: flex;
    align-items: center;
    position:fixed;
    z-index:100;
    top:0;
    transition: all 0.3s ease;
    font-family: 'Chuck', Tahoma, Verdana, sans-serif;
    border-bottom:3px solid transparent;
    
  }
  .nav > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title {
    width:120px;
    color: #AD0614;
  }

  .nav-title > a > img {
    width:100%;
  }

  .nav > .nav-list {
    display: flex;
    gap: 2rem;
  }
  .nav > .nav-list > li {
    list-style-type: none;
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    color: #AD0614;
    cursor: pointer;
    background-color:#FFF3D7;
    padding: 10px 20px;
    border-radius: 4px;
    border-bottom:3px solid transparent;
    transition: all 0.2s ease;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .nav > .nav-list > li a:hover {
    border-bottom:3px solid #AD0614;
  }  
  .nav > #nav-check {
      display: none;
  }

/* --- USE THIS TO STYLE THE SCROLLED NAVBAR --- */

.scrolled {
    height:10vh;
    font-size: 1em;
    border-bottom:3px solid #ad0614;
    background-color: #FFF3D7;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* --- */

.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF3D7;
    text-align: center;
    background-image: url("/assets/hero_2.jpg");
    background-position: center;
    background-size: cover;
}

.intro {
    width:60%;
    height:29vh;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Chuck', Tahoma, Verdana, sans-serif;
    background-color:#FFF3D7;
}

/* --------------- USP ------------------- */

.usp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usp-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:50vh;
}

.usp-item-split{
  width:40%;
  height:100%;
  background-color: #ad0614;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.usp-item-details {
  width:60%;
  background-color:#FFF3D7;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-right:10%;
}

.usp-item-details > img {
    width: 240px;
    height: auto;
    border-radius:50px;
    transform:translateX(-100px) rotate(5deg);
    border:3px solid #171717;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* -------- USP ALTERNATE STYLE -------- */

.usp-item:nth-child(2) {
  flex-direction: row-reverse;
}

.usp-item:nth-child(2) > .usp-item-split {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.usp-item:nth-child(2) > .usp-item-details {
  flex-direction: row-reverse;
  justify-content: end;
  text-align:right;
  padding-right:0px;
  padding-left:10%;
}

.usp-item:nth-child(2) > .usp-item-details > img {
  transform: translateX(100px) rotate(-5deg);
  
}

.usp-details > h3 {
    font-size: 1.2rem;
    font-family: 'Chuck', Tahoma, Verdana, sans-serif;
}

/* --------------- BOTTOM CTAS ------------------- */

.bottom-actions {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  padding:5% 10%;
  gap:30px;
}

.bottom-actions > a {
  font-family:'Chuck', Tahoma, Verdana, sans-serif;
  padding: 20px 30px;
  font-size: 1.2em;
  background-color:#AD0614;
  color:#FFF3D7;
  border-radius:60px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* --------------- FOOTER ------------------- */

footer {
    background-color: #AD0614;
    color: #FFF3D7;
    padding: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:0px;
    gap:20px;
    border-top:3px solid #FFF3D7;
}

.footer-logo {
    width: 120px;
    height: auto;
}

.footer-social {
    width: 36px;
    height: auto;
}

footer.reservation {
    background-color: #1e1e1e;
    color: #fff;
}

/* --------------- MEDIA QUERIES ------------------- */

@media screen and (max-width: 768px) {

/* --- NAVBAR MOBILE STYLES --- */

.nav {
    padding: 1rem;
    background-color:#FFF3D7;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.4rem;
    padding-right: 1rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 10vh;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 3px solid #AD0614;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #FFF3D7;
    height: 0;
    transition: all 0.3s ease-in;
    top: 10vh;
    left: 0;
    overflow: hidden;
    padding-left:50px;
    font-size:2em;
    text-align:center;
  }

  .nav > .nav-list > li a {
    font-size: 1em;
    box-shadow: none;
    display:none;
    height:0;
  }

/* --- */

    body {
        width:100%;
        max-width:100%;
    }

    .hero {
        width:100%;
        height:60vh;
    }

    .hero > .hero-logo {
        width: 100%;
    }

    .intro {
        width:90%;
        height:40vh;
    }

    .usp {
        width:100%;
        flex-direction: column;
    }

    .usp-item, .usp-item:nth-child(2) {
        width:100%;
        padding:10%;
        flex-direction: column;
        gap: 2em;
        text-align:center;
    }

    .usp-item > img {
        width: 80%;
    }
}

/* Media query pour cacher le menu sur desktop */
@media (min-width: 768px) {
  .menu, .menu-btn {
    display: none;
  }
}